body {
    background-image: url('photo/flag.png');
    background-repeat: no-repeat;
    background-size: 1300px 900px;
    background-position: center top;
    font-family: arial;
}

#container {
    text-align:center;
    
}

#link {
    padding-left: 1230px;
}

#help {
    width:40px;
    height: auto;
}

#title {
    text-align:center;
    padding-top: 45px;
}

#container1 {
    font-size: 22px;
    padding-top: 130px;
}

.choice {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display:inline-block;
}

.option {
    padding-top: 20px;
}